/* Item.css */

.CardItem {
    border: 1px solid #a5acea;
    padding: 10px;
    margin: 10px;
    width: 200px;
}
.ItemHeader {
    color: #333;
}

.ItemImg {
    max-width: 100%;
    height: auto;
}

.Info {
    margin-top: 8px;
}

.ItemFooter {
    margin-top: 10px;
}

.Option {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.Option:hover {
    text-decoration: underline;
}